<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593987856142-l58rm5e9r137pkhienlgbqhl6mdap0jn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593987856142-l58rm5e9r137pkhienlgbqhl6mdap0jn</string>
	<key>API_KEY</key>
	<string>AIzaSyB40AumLSFGUIoM8C6UR-pOrhe6W2hytfs</string>
	<key>GCM_SENDER_ID</key>
	<string>593987856142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moriso.intra</string>
	<key>PROJECT_ID</key>
	<string>intra-e790c</string>
	<key>STORAGE_BUCKET</key>
	<string>intra-e790c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593987856142:ios:212b681f2857901aa5595f</string>
	<key>DATABASE_URL</key>
	<string>https://intra-e790c.firebaseio.com</string>
</dict>
</plist>